.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.text-wrapper {
    display: flex;
    gap: 40px;
}

.text-wrapper #login, #signUp, #logOut, #myPage {
    cursor: pointer;
}