.flex {
    display: flex;
    flex-direction: row;
}

.border-line {
    margin-top: 120px;
    margin: 140px 60px 100px 60px;
    width: 1px;
    background-color: #dedede;
}
.border-row {
    margin: 20px 0 30px 0;
    width: 100%;
    height: 1px;
    background-color: #dedede;
}

.image-info-wrapper img {
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgb(109, 109, 109);
}

/* performance */
.performance-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 50px;
    width: 700px;
}

.performance-info-wrapper .title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.performance-info-wrapper .title-wrapper .genre-type{
    font-size: 14px;
    color: white;
    padding: 6px 13px 4px 13px;
    background-color: #5C77BE;
    border-radius: 20px;
}

.performance-info-wrapper .title-wrapper .performance-title{
    font-size: 24px;
    color: #242424;
    font-weight: 600;
}

.performance-info-wrapper .image-info-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}


.performance-info-wrapper .image-info-wrapper .info-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.performance-info-wrapper .image-info-wrapper .info-wrapper .info-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0 30px 0 40px;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-title-wrapper .info-title{
    font-size: 15px;
    font-weight: 400;
    color: #454545;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-detail-wrapper .info-detail{
    font-size: 15px;
    font-weight: 600;
    color: #242424;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-detail-wrapper .seat-price-wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-detail-wrapper .info-seat{
    font-size: 15px;
    color: #4E4E4E;
    font-weight: 500;
}

.performance-info-wrapper .image-info-wrapper .info-wrapper .info-detail-wrapper .info-price{
    font-size: 15px;
    color: #242424;
    font-weight: 700;
}

.performance-info-wrapper .like-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.performance-info-wrapper .like-wrapper .like-count{
    font-size: 16px;
    font-weight: 700;
}

.performance-info-wrapper .description {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding: 20px;
    color: #454545;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-top: 20px;
    width: 660px;
}

/* session */
.session-info-wrapper {
    position: sticky;
    top: 70px;
    width: 350px;
    height: 670px;
    margin-top: 140px;
}

.session-info-wrapper .date-wrapper, .time-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    height: 55px;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    justify-content: center;
}

.session-info-wrapper .date-wrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.session-info-wrapper .date-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    padding: 20px 0;
    height: 160px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    background-color: #f9f9f9;
}

.session-info-wrapper .date-list-wrapper .date {
    font-size: 16px;
    padding: 10px 0px 9px 0px;
    color: #777777;
    font-weight: 500;
    cursor: pointer;
    width: 210px;
    text-align: center;
}

.session-info-wrapper .date-list-wrapper .date.active {
    font-size: 16px;
    color: #242424;
    background-color: #D9E4FF;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}


.session-info-wrapper .session-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 20px 0;
    height: 90px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    background-color: #f9f9f9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.session-info-wrapper .session-list-wrapper .session {
    font-size: 16px;
    padding: 10px 0px 9px 0px;
    color: #777777;
    font-weight: 500;
    cursor: pointer;
    width: 210px;
    text-align: center;
}

.session-info-wrapper .session-list-wrapper .session.active {
    font-size: 16px;
    color: #242424;
    background-color: #D9E4FF;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.session-info-wrapper .seat-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #C0C0C0;
    height: 100px;
    border-radius: 8px;
    justify-content: center;
    margin-top: 20px;
}

.session-info-wrapper .seat-count {
    font-size: 16px;
    font-weight: 600;
}
.session-info-wrapper .seat-text {
    font-size: 16px;
    font-weight: 400;
}

.session-info-wrapper .reserveBtn{
    display: flex;
    font-size: 18px;
    color: white;
    background-color: #5C77BE;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.session-info-wrapper .reserveBtn.disabled{
    background-color: #c5c5c5;
    cursor:not-allowed;
}

.session-info-wrapper .reserveBtn.lock-btn{
    background-color: #c5c5c5;
    cursor:not-allowed;
}


/* comment */
.comment-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.comment-info-wrapper .comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-info-wrapper .comment-header .text-wrapper-comment{
    display: flex;
    flex-direction: row;
}

.comment-info-wrapper .comment-header .text-wrapper-comment span{
    font-size: 14px;
    font-weight: 700;
    color: #242424;
}

.comment-info-wrapper .comment-header .text-wrapper-comment .comment-count{
    font-size: 15px;
    font-weight: 700;
    color: #5C77BE;
    font-weight: 800;
}

.comment-info-wrapper .comment-header #commentBtn{
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding: 6px 16px 4px 16px;
    border-radius: 8px;
    background-color: #5C77BE;
    cursor: pointer;
}

.comment-info-wrapper .comment-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-info-wrapper .comment {
    border: 1px solid #AFAFAF;
    border-radius: 16px;
    padding: 30px 26px;
}

.comment-info-wrapper .comment-header {
    display: flex;
    flex-direction: row;
}

.comment-info-wrapper .comment-header .comment-rate{
    background-size: 90px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 18px;
}

.comment-info-wrapper .comment-header .comment-rate[data-rate="1"]{
    background-image: url('../images/img_star_01.png');
}

.comment-info-wrapper .comment-header .comment-rate[data-rate="2"]{
    background-image: url('../images/img_star_02.png');
}

.comment-info-wrapper .comment-header .comment-rate[data-rate="3"]{
    background-image: url('../images/img_star_03.png');
}

.comment-info-wrapper .comment-header .comment-rate[data-rate="4"]{
    background-image: url('../images/img_star_04.png');
}

.comment-info-wrapper .comment-header .comment-rate[data-rate="5"]{
    background-image: url('../images/img_star_05.png');
}

.comment-info-wrapper .comment-header .user-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.comment-info-wrapper .comment-header .user-info-wrapper span{
    font-size: 12px;
    color: #6b6b6b;
    font-weight: 400;
}

.comment-info-wrapper .comment .comment-title{
    font-size: 16px;
    color: #242424;
    font-weight: 700;
    margin-bottom: 10px;
}

.comment-info-wrapper .comment .comment-description{
    font-size: 14px;
    color: #585858;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0px;
    line-height: 22px;
    margin-bottom: 0px;
}


.star-wrapper {
    display: flex;
}

.star-wrapper img {
    width: 20px;
    cursor: pointer;
}


input {
    width: 92%;
    height: 40px;
    background-color: #f1f1f1;
    color: #242424;
    padding: 0px 24px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

input:focus {
    box-shadow: 0 0 0 1.5px #3A5AAD;
    background-color: white;
    transition: background-color 0.3s;
    outline: none;
    margin-top: 20px;
}


textarea{
    color: #242424;
    padding: 40px 24px;
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

textarea:focus {
    box-shadow: 0 0 0 1.5px #3A5AAD;
    background-color: white;
    transition: background-color 0.3s;
    outline: none;
}
    

 .comment.create-comment{
    margin-bottom: 20px;
    display: none;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 30px;
}

.btn-wrapper #createCommentBtn {
    padding: 6px 16px 4px 16px;
    font-size: 13px;
    color: white;
    background-color: #3A5AAD;
    border-radius: 8px;
    cursor: pointer;
}

.btn-wrapper #cancelBtn {
    padding: 6px 16px 4px 16px;
    font-size: 13px;
    color: white;
    background-color: #c8c8c8;
    border-radius: 8px;
    cursor: pointer;
}

.like-wrapper{
    cursor: pointer;
}


/* order-popup */
.popup {
    display: none;
    width: 1000px;
    /* height: 760px; */
    padding: 80px 80px;
    background-color: white;
    border-radius: 16px;
    position: fixed;  /* 변경: absolute -> fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.popup .popup-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.popup .popup-flex .performance-session-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.popup .popup-flex .performance-session-info-wrapper div{
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}


.popup .popup-flex .performance-session-info-wrapper span{
    font-size: 16px;
    font-weight: 400;
    color: #242424;
    padding: 8px 26px;
    background-color: #F4F4F4;
    border-radius: 40px;
    border: 1px solid #D0D0D0;
}

.popup .popup-flex .seat-information-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.popup .popup-flex .seat-information-wrapper .seat-info-wrap {
    display: flex;
    align-items: center;
    gap: 14px;
}

.popup .popup-flex .seat-information-wrapper .seat-info-wrap img{
    width: 25px;
}


.popup .popup-flex .seat-information-wrapper .seat-info-wrap span{
    font-size: 16px;
    font-weight: 400;
    color: #242424;
}

.popup .popup-flex .row-wrapper-seat {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    gap: 100px;
}

.popup .popup-flex .row-wrapper-seat .column-wrapper-seat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup .popup-flex .row-wrapper-seat .column-wrapper-seat .seat-grid {
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    justify-content: center;
    gap: 10px;
}

.popup .popup-flex .row-wrapper-seat .column-wrapper-seat .seat-grid:nth-child(n+2) {
    margin-top: 28px;
}

.popup .popup-flex .row-wrapper-seat .column-wrapper-seat .seat-grid img{
    width: 25px;
}






/* popup */
.popup .seat-selected-info-wrapper {
    position: sticky;
    top: 70px;
    width: 300px;
    /* height: 670px; */
}

.popup .seat-selected-info-wrapper .date-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    height: 55px;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.popup .seat-selected-info-wrapper .date-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    padding: 20px 0;
    height: 160px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    background-color: #f9f9f9;
}

.popup .seat-selected-info-wrapper .seat-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 20px 0;
    height: 90px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    background-color: #f9f9f9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.popup .seat-selected-info-wrapper .seat-list-wrapper .selected-seat {
    font-size: 16px;
    padding: 10px 0px 9px 0px;
    color: #777777;
    font-weight: 500;
    cursor: pointer;
    width: 210px;
    text-align: center;
}

.popup .seat-selected-info-wrapper .seatConfirmBtn{
    display: flex;
    font-size: 18px;
    color: white;
    background-color: #5C77BE;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.popup .seat-selected-info-wrapper .seatConfirmBtn.disabled{
    background-color: #c5c5c5;
    cursor:not-allowed;
}